- load pipeline
- load staticfiles


- javascript 'zeroclipboard'
- stylesheet 'zeroclipboard'

:javascript
  ZeroClipboard.setDefaults({
    moviePath: '{% static "zeroclipboard/ZeroClipboard.swf" %}',
  });
