- load i18n


- if page_obj.paginator.num_pages > 1
  .text-center
    %ul.pagination.pagination-sm
      %li{'class':'{% if not page_obj.has_previous %}disabled{% endif %}'}
        - if page_obj.has_previous
          %a{'href':'?={ page_obj.previous_page_number.querystring }', 'title':'{% trans "Previous" %}'}
            %i.fa.fa-chevron-left
        - else
          %a{'href':'#', 'title':'{% trans "Previous" %}'}
            %i.fa.fa-chevron-left
      - for page in page_obj.pages
        - if page
          - ifequal page page_obj.number
            %li.active
              %a{'href':'#'}
                = page
          - else
            %li
              %a{'href':'?{{ page.querystring }}'}
                = page
        - else
          %li.disabled
            %a
              :plain
                ...
      %li{'class':'{% if not page_obj.has_next %}disabled{% endif %}'}
        - if page_obj.has_next
          %a{'href':'?={ page_obj.next_page_number.querystring }', 'title':'{% trans "Next" %}'}
            %i.fa.fa-chevron-right
        - else
          %a{'href':'#', 'title':'{% trans "Previous" %}'}
            %i.fa.fa-chevron-right
