- load i18n


- if page_obj.paginator.num_pages > 1
  .pagination.pagination-centered
    %ul
      - if page_obj.has_previous
        %li
          %a{'href':'?={ page_obj.previous_page_number.querystring }', 'title':'{% trans "Previous" %}'}
            %i.icon-backward
      - for page in page_obj.pages
        - if page
          - ifequal page page_obj.number
            %li.active
              %a
                = page
          - else
            %li
              %a{'href':'?{{ page.querystring }}'}
                = page
        - else
          %li.disabled
            %a
              :plain
                ...
      - if page_obj.has_next
        %li
          %a{'href':'?={ page_obj.next_page_number.querystring }', 'title':'{% trans "Next" %}'}
            %i.icon-forward
