@import "../bootstrap/less/variables";


.zeroclipboard-is-hover {
    color: @btn-default-color;
    background-color: @btn-default-bg;
    text-decoration: none;
}


.zeroclipboard-is-active {
    color: @btn-default-color;
    background-color: @btn-default-bg;
    background-image: none;
}
