*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea

upaas_admin/var/static/*
upaas_admin/settings/local.py
upaas_admin/settings/local/*
docs/_build

# less compiled to css
upaas_admin/static/bootstrap/less/*.css
upaas_admin/static/upaas/*.css
upaas_admin/static/zeroclipboard/*.css
