*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.idea

upaas_admin/var/static/*
upaas_admin/settings/local.py
upaas_admin/settings/local/*
docs/_build

# less compiled to css
upaas_admin/static/bootstrap/less/*.css
upaas_admin/static/upaas/*.css
upaas_admin/static/zeroclipboard/*.css
