language: python

python:
  - 2.6
  - 2.7

install:
  - pip install -U pip
  - pip install -Ur requirements.txt --use-mirrors

script:
  - py.test -vs --pep8
  - ./setup.py develop
  - UPAAS_CONFIG_DIR=tests ./upaas_admin/manage.py test -v 0 users

services:
  - mongodb
