language: python

python:
  - 2.6
  - 2.7

install: "pip install -Ur requirements.txt --use-mirrors"

script:
  - py.test -vs --pep8
  - UPAAS_CONFIG_DIR=tests ./upaas_admin/manage.py test -v 0 users

services:
  - mongodb
