language: python

python:
  - 2.6
  - 2.7

install:
  - sudo apt-add-repository -y ppa:chris-lea/node.js
  - sudo apt-get update -qq || echo "apt-get update failed"
  - sudo apt-get -yy install nodejs
  - sudo npm install -g less
  - pip install -U pip
  - pip install -Ur requirements.txt --use-mirrors --download-cache $HOME/.pip-cache
  - pip install -Ur requirements-test.txt --use-mirrors --download-cache $HOME/.pip-cache
  - pip install --no-deps mongoengine==0.8.6
  - ./setup.py develop --ignore-conflicts-at-my-risk || echo "setup.py failed"

script:
  - UPAAS_CONFIG_DIR=tests DJANGO_SETTINGS_MODULE=upaas_admin.settings.tests py.test -v --pep8 --cov upaas_admin

services:
  - mongodb

cache:
  directories:
  - $HOME/.pip-cache/
  - $HOME/virtualenv/python2.6/lib/python2.6/site-packages
  - $HOME/virtualenv/python2.7/lib/python2.7/site-packages
