language: python

python:
  - 2.6
  - 2.7

install:
  - pip install -U pip
  - pip install -Ur requirements.txt --use-mirrors
  - pip install -Ur requirements-test.txt --use-mirrors
  - ./setup.py develop

script:
  - py.test -vs --pep8
  - UPAAS_CONFIG_DIR=tests DJANGO_SETTINGS_MODULE=upaas_admin.settings ./upaas_admin/upaas_admin test -v 0 users

services:
  - mongodb
