language: python

python:
  - 2.6
  - 2.7

install:
  - sudo apt-add-repository -y ppa:chris-lea/node.js
  - sudo apt-get update -qq || echo "apt-get update failed"
  - sudo apt-get -yy install nodejs
  - sudo npm install -g less
  - easy_install pymongo
  - pip install -Ur requirements.txt --allow-all-external --allow-unverified netifaces
  - pip install -Ur requirements-test.txt --allow-all-external
  - pip install --no-deps mongoengine==0.8.7
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  - ./setup.py develop --ignore-conflicts-at-my-risk || echo "setup.py failed"

script:
  - UPAAS_CONFIG_DIR=tests DJANGO_SETTINGS_MODULE=upaas_admin.settings.tests coverage run --rcfile=.coveragerc `which py.test` -v --pep8

after_success:
  - coverage report
  - coveralls

services:
  - mongodb
