pytest>=2.3
pytest-cov
pytest-pep8
pytest-capturelog
-e git+git@github.com:prymitive/upaas-common.git#egg=upaas-common
django>=1.5,<1.6
mongoengine>=0.8.3,<0.9
blinker
hamlpy>=0.82.2
django-tastypie==0.9.15
django-tastypie-mongoengine>=0.4.1,<0.5
django-crispy-forms>=1.4
django-pipeline>=1.3.13
django-bootstrap-breadcrumbs>=0.5.1
celery-with-mongodb>=3.0,<4.0
django-celery>=3.0,<4.0
IPy
django-gravatar2
django-dajaxice>=0.5.5
django-mongoforms>=0.3.1
tzlocal>=1.0
django-pure-pagination>=0.2.1
