pytest
pytest-cov
pytest-pep8
pytest-capturelog
django>=1.5,<1.6
mongoengine<0.7.999
blinker
hamlpy>=0.82.2
django-tastypie==0.9.15
django-tastypie-mongoengine
django-crispy-forms
django-pipeline
django-bootstrap-breadcrumbs>=0.5.1
upaas-tasks
celery-with-mongodb>=3.0,<4.0
django-celery>=3.0,<4.0
