pytest==2.6.3
pytest-pep8==1.0.6
pytest-capturelog==0.7
django-debug-toolbar==1.2.1
django-debug-toolbar-template-timings==0.6.4
django-debug-toolbar-mongo==0.1.10
coverage==3.7.1
python-coveralls==2.4.2
