@import "../bootstrap/less/variables";

body {
  // needed by navbar fixed to the top of the page
  padding-top: 70px;
}


#upaas-link-logout:hover {
  color: @btn-danger-bg;
}


.nav-tabs {
  // add margin to all tabs bottom, before tab content
  margin-bottom: 15px;
}


.table > tbody > tr > td.upaas-table-action {
  padding: 3px;
}


.btn-default {
  // reset text shadow on default buttons, it looks ugly
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}


// this seems to be missing/overriden for some reason
.pagination .active > a,
.pagination .active > a:hover {
  border-color: @pagination-border;
}


// adds tip to dropdowns
@upaas-dropdown-tip-size  : 8px;
@upaas-dropdown-tip-offset: @upaas-dropdown-tip-size + 4;

.dropdown-menu:before {
  position: absolute;
  top: -@upaas-dropdown-tip-size;
  right: @upaas-dropdown-tip-offset;
  display: inline-block;
  border-right: @upaas-dropdown-tip-size solid transparent;
  border-bottom: @upaas-dropdown-tip-size solid @dropdown-border;
  border-left: @upaas-dropdown-tip-size solid transparent;
  content: '';
  left: auto;
}

.dropdown-menu:after {
  @upaas-dropdown-tip-content-size: @upaas-dropdown-tip-size - 1;

  position: absolute;
  top: -@upaas-dropdown-tip-content-size;
  left: auto;
  display: inline-block;
  border-right: @upaas-dropdown-tip-content-size solid transparent;
  border-bottom: @upaas-dropdown-tip-content-size solid @dropdown-bg;
  border-left: @upaas-dropdown-tip-content-size solid transparent;
  content: '';
  right: @upaas-dropdown-tip-offset + 1;
}
