- load i18n


%li
  %a{'href':'{% url "app_domains" app.safe_id %}'}
    %i.fa.fa-globe
    - trans "Manage domains"
%li
  %a{'href':'{% url "build_package" app.safe_id %}'}
    %i.fa.fa-cog
    - trans "Build new package"
%li.divider
%li{'class':'{% if not app.can_start %}disabled{% endif %}'}
  %a{'href':'{% if app.can_start %}{% url "app_start" app.safe_id %}{% else %}#{% endif %}'}
    %i.fa.fa-play
    - trans "Run application"
%li{'class':'{% if not app.run_plan %}disabled{% endif %}'}
  %a{'href':'{% if app.run_plan %}{% url "app_edit_run_plan" app.safe_id %}{% else %}#{% endif %}'}
    %i.fa.fa-pencil
    - trans "Edit application"
%li{'class':'{% if not app.run_plan %}disabled{% endif %}'}
  %a{'href':'{% if app.run_plan %}{% url "app_stop" app.safe_id %}{% else %}#{% endif %}'}
    %i.fa.fa-stop
    - trans "Stop application"
