- load i18n

.tabbable

  %ul.nav.nav-tabs
    - for tab in tabs
      %li{'class':'{% if tab.tab_id == current_tab_id %}active{% endif %}'}
        %a{'href':'{% url tab.tab_id app.safe_id %}'}
          = tab.tab_label
          - if tab.tab_id == 'app_packages' and app.packages
            %span.badge
              = app.packages|length
          - if tab.tab_id == 'app_instances' and app.run_plan
            %span.badge
              = app.run_plan.backends|length

  .tab-content
