:plain
  <script type="text/haml-template" id="upaas-haml-template-task-messages">
  - var tr_class = "";
  - var label_class = "label-info";
  - switch(message.level) {
    - case "WARNING":
      - tr_class = "warning";
      - label_class =  "label-warning";
      - break;
    - case "ERROR":
      - tr_class = "danger";
      - label_class = "label-danger";
      - break;
  %tr{class: tr_class}
    %td
      .label{class: label_class}
        = moment.utc(message.timestamp).calendar()
    %td
      = message.message
  </script>

  <script type="text/haml-template" id="upaas-haml-template-task-no-messages">
  %tr
    %td.text-center.text-muted{colspan: 2}
        = gettext("No messages")
  </script>
