- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb user.full_name_or_login "users_profile"
  - breadcrumb "Reset API key" "users_apikey_reset"


- block content

  .text-center

    .lead.text-warning
      - trans "Are you sure you want to reset API key? Old key will be lost."

    - crispy form
