!!! 5


- load i18n
- load compressed
- load crispy_forms_tags


%html
  %head
    - include "partials/site_head.haml"

  %body

    .container

      .row
        .page-header
          %h1
            - trans "You need to login to access this page"

        %form.form-horizontal.well{'method':'post', 'action':'{% url "django.contrib.auth.views.login" %}'}
          - csrf_token
          = form|crispy
          %input{'type':'hidden', 'name':'next', 'value':'={ next }'}/
          .controls
            %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Login" %}'}/
