!!! 5


- load i18n


%html
  %head
    - include "partials/site_head.html"

  %body

    .container

      .row
        .page-header
          %h1.text-center
            %i.fa.fa-check-circle-o
            - trans "Password reset completed"

      .row
        .text-center
          %a{'href': '{% url "site_login" %}'}
            - trans "Back to login form"
