- extends 'base.haml'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb user.get_full_name_or_login "users_profile"
  - breadcrumb "Password change" "password"


- block content
  %form.form-horizontal.well{'method':'post', 'action':'{% url "django.contrib.auth.views.password_change" %}'}
    - csrf_token
    = form|crispy
    %input{'type':'hidden', 'name':'next', 'value':'={ next }'}/
    .controls
      %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Submit" %}'}/
