- extends 'base.haml'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb user.get_full_name_or_login "users_profile"
  - breadcrumb "Password changed" "password_changed"


- block content

  %h1.text-success
    .text-center
      %i.icon-ok-circle
      - trans "Password changed successfully"
