!!! 5


- load i18n
- load crispy_forms_tags


%html
  %head
    - include "partials/site_head.html"

  %body
    .container
      .row
        - if validlink
          .page-header
            %h1.text-center
              - trans "Enter new password"

          .col-md-6.col-md-offset-3
            %form.well{'method':'post'}
              - csrf_token
              = form|crispy
              .controls
                %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Submit" %}'}/
        - else
          .page-header
            %h1.text-center
              %i.fa.fa-exclamation-circle
              - trans "This reset link is no longer valid"
          .row
            .text-center
              %a{'href': '{% url "site_login" %}'}
                - trans "Back to login form"
