- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb user.full_name_or_login "users_profile"
  - breadcrumb "Change password" "password"


- block content
  %form.well{'method':'post', 'action':'{% url "django.contrib.auth.views.password_change" %}'}
    - csrf_token
    = form|crispy
    %input{'type':'hidden', 'name':'next', 'value':'={ next }'}/
    .controls
      %input.btn.btn-default{'type':'button', 'value':'{% trans "Cancel" %}', 'onClick':'javascript:history.go(-1);'}
      %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Change" %}'}/
