- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb app.name "app_details" app.safe_id


- block content

  .col-md-9

    - if tabs
      - include "applications/partials/app_tabs.html"

    - block app_content

  .col-md-3
    .panel.panel-default
      .panel-heading
        - trans "Actions"
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          - include "applications/partials/app_actions.html"

- block js_bottom
  = block.super
