- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  = block.super
  - breadcrumb app.name "app_details" app.safe_id


- block content

  .col-md-9

    - include "applications/partials/app_tabs.html"

    - block app_content

  .col-md-3
    .panel.panel-default
      .panel-heading
        - trans "Actions"
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{'href':'{% url "build_package" app.safe_id %}'}
              %i.fa.fa-cog
              - trans "Build new package"
          %li{'class':'{% if not app.can_start %}disabled{% endif %}'}
            %a{'href':'{% url "app_start" app.safe_id %}'}
              %i.fa.fa-play
              - trans "Run application"
          %li{'class':'{% if not app.run_plan %}disabled{% endif %}'}
            %a{'href':'#', 'onclick':'Dajaxice.upaas_admin.apps.applications.stop_app(function(){}, {"app_id":"{{ app.safe_id }}"});'}
              %i.fa.fa-stop
              - trans "Stop application"

- block js_bottom
  = block.super
