- extends 'base.haml'


- load i18n


- block content

  %p
    %a.btn.btn-default{'href':'{% url "app_register" %}'}
      - trans "Register new application"

  %table.table.table-striped

    %thead
      %tr
        %th
          - trans "Name"
        %th
          - trans "Interpreter name"
        %th
          - trans "Interpreter version"
        %th
          - trans "Packages"

    %tbody
      - for application in object_list
        %tr
          %td
            - if application.run_plan
              %span.glyphicon.glyphicon-play{'title':'{% trans "Running" %}'}
            - else
              %span.glyphicon.glyphicon-stop{'title':'{% trans "Stopped" %}'}
            %a{'href':'{% url "app_details" application.id %}'}
              = application.name
          %td
            = application.interpreter_name
          %td
            = application.interpreter_version
          %td
            = application.packages|length
      - empty
        %tr
          %td{'colspan':'4'}
            .text-center
              - trans "No applications registered yet"

  - include "partials/pagination_footer.haml"
