- extends 'applications/base.html'


- load i18n


- block app_content

  - if app.run_plan
    #stats-container
      %h1.text-center
        %i.fa.fa-refresh.fa-spin
  - else
    %h3.text-center
      - trans "Application is stopped, no instances are running"

- block js_bottom
  = block.super

  :javascript
    function instances_callback(data) {
      var elems = UPAAS.instances_data_from_uwsgi_stats(data);
      if (elems.length == 0) {
        elems.push('<h1 class="text-center">');
        elems.push('<i class="fa fa-refresh fa-spin"></i>');
        elems.push('</h1>');
        elems.push('<h3 class="text-center">');
        elems.push("{% trans "Couldn't fetch any stats" %}");
        elems.push('</h3>');
      }
      $('#stats-container').html(elems.join('\n'));
    }

    function update_instances() {
      Dajaxice.upaas_admin.apps.applications.stats(instances_callback, {
        "app_id":"{{ app.safe_id }}"
      });
    }

    $(document).ready(function(){
      window.setTimeout(update_instances, 1000);
      window.setInterval(update_instances, 3000);
    });
