- extends 'applications/base.html'


- load i18n
- load crispy_forms_tags


- block app_content

  %pre.upaas-metadata-textarea<
    = app.metadata

  .well
    .row
      .col-md-9
        - crispy metadata_form
      .col-md-3
        %a.btn.btn-default{'href':'{% url "app_metadata_yml" app.safe_id %}'}
          %i.fa.fa-download
          - trans "Download metadata"
