- extends 'applications/base.html'


- load i18n
- load upaas_inline_truncate


- block app_content

  %table.table.table-striped

    %thead
      %tr
        %th
        %th
          - trans "Created"
        %th
          - trans "Interpreter"
        %th
          - trans "Revision"
        %th

    %tbody
      - for package in packages
        %tr
          %td
            - if package.filename
              %i.fa.fa-check-square-o.upaas-help-tooltip{'title':'{% trans "Package file available" %}'}
            - else
              %i.fa.fa-square-o.upaas-help-tooltip{'title':'{% trans "Package file expunged" %}'}
          %td
            %a{'href':'{% url "package_details" package.safe_id %}'}
              = package.date_created
            - if app.current_package.id == package.id
              %span.label.label-primary
                - trans "Current"
          %td
            ={ package.interpreter_name } ={ package.interpreter_version }
          %td
            = package.revision_id|default_if_none:""|inline_truncate:16
          %td.upaas-table-action
            - if app.current_package.id != package.id
              .btn-group
                %button.btn.btn-default.btn-sm.dropdown-toggle{'type':'button', 'data-toggle': 'dropdown'}
                  %i.fa.fa-gear
                  &nbsp;
                  %span.caret
                %ul.dropdown-menu.pull-right{'role': 'menu'}
                  %li.dropdown-header.upaas-no-wrap{'role':'presentation'}
                    = package.date_created
                  %li.divider{'role':'presentation'}
                  %li{'class':'{% if not package.filename %}disabled{% endif %}'}
                    -if package.filename
                      %a{'href':'{% url "package_rollback" package.safe_id %}'}
                        %i.fa.fa-undo
                        - trans "Rollback"
                    - else
                      %a{'href':'#'}
                        %i.fa.fa-undo
                        - trans "Rollback"
                  %li
                    %a{'href':'{% url "package_delete" package.safe_id %}'}
                      %i.fa.fa-trash-o
                      - trans "Delete"

      - empty
        %tr
          %td.text-center.text-muted{'colspan':'5'}
            - trans "No packages built yet"

  - include "partials/pagination_footer.html"
