- extends 'applications/base.html'


- load i18n
- load tz
- load compressed


- block app_content

  #graph-placeholder
    %img#graph


- block js_bottom
  = block.super

  - compressed_js 'graphite'

  :javascript
    $(document).ready(function(){
      $("#graph").graphite({
          width: $('#graph-placeholder').width(),
          url: "{{ render_url }}",
          tz: "{{ TIME_ZONE }}",

          from: "-20minutes",
          target: [
              "alias({{ carbon_root }}.*.{{ app.id }}.core.busy_workers, '{% trans "busy" %}')",
              "alias({{ carbon_root }}.*.{{ app.id }}.core.idle_workers, '{% trans "idle" %}')",
          ],
          title: "{% trans "Workers" %}",
          areaMode: "stacked",
          hideLegend: false,
          yUnitSystem: "binary",
          lineMode: "staircase"
      });
    });
