- extends 'applications/base.html'


- load i18n


- block app_content

  %table.table

    %thead
      %tr
        %th
          - trans "Status"
        %th
          - trans "Created"
        %th
          - trans "Title"
        %th
          - trans "Backend"

    %tbody
      - for task in tasks
        %tr{'id':'={ task.safe_id }', 'class':'{% if task.is_active %}upaas-task-active {% endif %}{% if task.status == task_statuses.failed %}danger{% elif task.status == task_statuses.successful %}success{% elif task.status == task_statuses.running %}active{% endif %}'}
          %td
            %i{'class':'={ task.icon_class }'}
          %td
            %a{'href':'{% url "app_task_details" task.safe_id %}'}
              = task.date_created
          %td
            = task.title
          %td
            = task.backend.name

      - empty
        %tr
          %td.text-center.text-muted{'colspan':'4'}
            - trans "No tasks"

  - include "partials/pagination_footer.html"
