- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb "Error 403" ""


- block content

  .jumbotron.text-center
    %h1
      403
    %p.text-error
      - trans "Permission denied"
