- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb "Error 404" ""


- block content

  .jumbotron.text-center
    %h1
      %p.text-warning
        404
    %p
      - trans "Page not found"
