- extends 'base.html'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb "404" ""


- block content

  .jumbotron.text-center
    %h1
      404
    %p.text-warning
      - trans "Page not found"
