- extends 'base.haml'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb "500" ""

- block content

  .jumbotron.text-center
    %h1
      500
    %p.text-warning
      - trans "Server error"
