!!! 5


- load i18n
- load compressed
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  - breadcrumb_for "site_index"
    %i.icon-home
    Home
  - endbreadcrumb_for


%html
  %head
    - include "partials/site_head.haml"

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{'href':'#'}
            %i.icon-cogs
            uPaaS
          %ul.nav.pull-right
            - if user.is_superuser
              %li
                %a{'href':'#'}
                  %strong
                    %i.icon-wrench
                    - trans "Admin"
            %li.divider-vertical
            %li
              .navbar-search
                %img.img-rounded{'src':'{% gravatar_url user.email 30 %}', 'height':'30', 'width':'30'}
            %li.dropdown
              %a.dropdown-toggle{'role':'button', 'data-toggle':'dropdown', 'href':'#'}
                %strong
                  - if user.first_name and user.last_name
                    ={ user.first_name } ={ user.last_name }
                  - else
                    = user.username
                %span.caret
              %ul.dropdown-menu{'role':'menu'}
                %li
                  %a{'href':'{% url "users_profile" %}'}
                    - trans "Account"
                %li
                  %a{'href':'{% url "password" %}'}
                    - trans "Change password"
            %li
              %a{'href':'{% url "django.contrib.auth.views.logout_then_login" %}'}
                %i.icon-off
                - trans "Log out"

    .container

      - render_breadcrumbs

      - if messages
        - for message in messages
          .alert{'class':'alert-={message.tags}'}
            %button.close{'type':'button', 'data-dismiss':'alert'}×
            = message

      .upaas-content
        - block content

    - block js_bottom
