!!! 5


- load i18n
- load compressed
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  - breadcrumb_for "site_index"
    %span.glyphicon.glyphicon-home
    Home
  - endbreadcrumb_for


%html
  %head
    - include "partials/site_head.html"

  %body

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{'href':'#'}
            %span.glyphicon.glyphicon-cog
            uPaaS
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user.is_superuser
              %li
                %a{'href':'{% url "admin_users_list" %}'}
                  %strong
                    %span.glyphicon.glyphicon-wrench
                    - trans "Admin"
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{'role':'button', 'data-toggle':'dropdown', 'href':'#'}
                %strong
                  %span#upaas-tasks-badge.badge
                    ?
                %span.caret
              %ul#upaas-tasks-menu.dropdown-menu{'role':'button'}
                %li
                  %a{'href':'#'}
                    - trans "No running tasks"
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{'role':'button', 'data-toggle':'dropdown', 'href':'#'}
                %img.img-rounded{'src':'{% gravatar_url user.email 24 %}', 'height':'24', 'width':'24'}
                %strong
                  - if user.first_name and user.last_name
                    ={ user.first_name } ={ user.last_name }
                  - else
                    = user.username
                %span.caret
              %ul.dropdown-menu{'role':'menu'}
                %li
                  %a{'href':'{% url "users_profile" %}'}
                    - trans "Account"
                %li
                  %a{'href':'{% url "password" %}'}
                    - trans "Change password"
            %li
              %a#upaas-link-logout{'href':'{% url "django.contrib.auth.views.logout_then_login" %}'}
                %span.glyphicon.glyphicon-log-out
                - trans "Log out"

    .container

      - render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html"

      - if messages
        - for message in messages
          .alert{'class':'alert-{% if "error" in message.tags %}danger{% else %}{{ message.tags }}{% endif %}'}
            %button.close{'type':'button', 'data-dismiss':'alert'}×
            = message

      .upaas-content
        - block content

    - block js_bottom
