!!! 5


- load i18n
- load pipeline
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  - clear_breadcrumbs
  - breadcrumb_for "site_index"
    %i.fa.fa-home
    Home
  - endbreadcrumb_for


%html
  %head
    - include "partials/site_head.html"

  %body

    #upaas-site-header.navbar.navbar-default.navbar-fixed-top{'role':'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{'type':'button', 'data-toggle':'collapse', 'data-target':'.navbar-collapse'}
            %span.sr-only
              - trans "Toggle navigation"
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{'href':'http://upaas-docs.readthedocs.org'}
            %i.fa.fa-cogs
            uPaaS
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user.is_superuser
              %li
                %a{'href':'{% url "admin_users_list" %}'}
                  %strong
                    %i.fa.fa-wrench
                    - trans "Admin"
            %li.divider-vertical
            %li.dropdown.hidden-xs
              %a.dropdown-toggle{'role':'button', 'data-toggle':'dropdown', 'href':'#'}
                %strong
                  %span#upaas-tasks-badge.badge.upaas-badge-default
                    0
                %span.caret
              %ul#upaas-tasks-menu.dropdown-menu{'role':'button'}
                %li#upaas-tasks-menu-li-dummy
                  %a{'href':'{% url "users_tasks" %}'}
                    - trans "No running tasks"
            %li.divider-vertical.hidden-xs
            %li.dropdown
              %a.dropdown-toggle{'role':'button', 'data-toggle':'dropdown', 'href':'#'}
                %img.img-rounded{'src':'{% gravatar_url user.email 24 %}', 'height':'24', 'width':'24'}
                %strong
                  - if user.first_name and user.last_name
                    ={ user.first_name } ={ user.last_name }
                  - else
                    = user.username
                %span.caret
              %ul.dropdown-menu{'role':'menu'}
                %li
                  %a{'href':'{% url "users_profile" %}'}
                    %i.fa.fa-fw.fa-user
                    - trans "Account"
                %li
                  %a{'href':'{% url "password" %}'}
                    %i.fa.fa-fw.fa-lock
                    - trans "Change password"
                %li
                  %a{'href':'{% url "django.contrib.auth.views.logout_then_login" %}'}
                    %i.fa.fa-fw.fa-sign-out
                    - trans "Log out"

    .container

      - render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html"

      - if messages
        - for message in messages
          .alert{'class':'alert-{% if "error" in message.tags %}danger{% else %}{{ message.tags }}{% endif %}'}
            %button.close{'type':'button', 'data-dismiss':'alert'}×
            = message

      .upaas-content
        - block content

    - block haml_templates
      - if user.is_authenticated
        - include "applications/partials/task_dropdown_details.js.haml"

    - block js_bottom
