# name or uid of user that will be used to run app inside namespace
uid: www-data

# name or gid of group that will be used to run app inside namespace
gid: www-data

# app directory inside the chroot
home: /home/app

domains:
  # automatic domain for apps
  system: localdomain
  # does user needs to prove domain ownership by adding txt record
  validation: True

# minimal port for app sockets
tcp:
  # port range for app sockets, all ports from this range must be free
  port_min: 2001
  port_max: 7999

uwsgi:
  # list of uWSGI options allowed to be passed in metadata
  # values python regexp
  safe_options:
    - "^check-static"
    - "^static-"
    - "^harakiri"
    - "^enable-threads$"
    - "^(worker-|)reload-mercy$"
    - "^max-requests$"
    - "^(min|max)-worker-lifetime$"
    - "^upload-progress$"
    - "^lazy"
    - "^route"
    - "^(response|final|error)-route$"

features:
  storage:
    handler: upaas_admin.features.storage.StorageFeature
    enabled: False
    settings:
      path: /var/upaas/storage
      mountpoint: /storage
