# how long any action command can take to execute
timelimit: 600

# how to install package
install:
  env:
    DEBIAN_FRONTEND: noninteractive
    LC_ALL: C.UTF-8
    LANG: C.UTF-8
  cmd: apt-get install -qq --no-install-recommends -y %package%

# how to uninstall package
uninstall:
  env:
    DEBIAN_FRONTEND: noninteractive
    LC_ALL: C.UTF-8
    LANG: C.UTF-8
  cmd: apt-get remove -y %package%
