# default envs for every interpreter
env:
  LC_ALL: C.UTF-8
  LANG: C.UTF-8
  PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

uwsgi:
  # base template path
  template: templates/base.ini

actions:
  setup:
    system:
      - echo "#!/bin/sh\n" > /usr/sbin/policy-rc.d
      - echo "exit 101\n" >> /usr/sbin/policy-rc.d
      - chmod 755 /usr/sbin/policy-rc.d
      - apt-add-repository -y ppa:brightbox/ruby-ng
      - apt-add-repository -y ppa:chris-lea/php5.5
      - apt-add-repository -y ppa:fkrull/deadsnakes
      - apt-get update -qq
      - apt-get dist-upgrade -y
    finalize:
      - apt-get clean

ruby: !include ruby.yml

python: !include python.yml

php: !include php.yml
