# mongodb database settings, use can use uri scheme:
#uri: mongodb://localhost:27017/mydatabase')
# or separate options for each setting:
host: localhost
port: 27017
database: upaas
# user and password is optional
username: username
password: password
# if uri is set then it will be used, otherwise host, database and auth
# options will be used
