any:
  uwsgi:
    template: templates/python.ini
  settings:
    module: app
  actions:
    setup:
      main:
        - pip install -qMU -r requirements.txt


"2.7":
  uwsgi:
    plugin: python27
  packages:
    - python2.7
    - python2.7-dev
    - python-pip
  actions:
    setup:
      interpreter:
        - python -V


"3.2":
  uwsgi:
    plugin: python32
  packages:
    - python3.2
    - python3.2-dev
    - python3-setuptools
  actions:
    setup:
      interpreter:
        - update-alternatives --install /usr/bin/python python /usr/bin/python3.2 99
        - update-alternatives --set python /usr/bin/python3.2
        - python -V
        - python -m easy_install pip
        - update-alternatives --install /usr/bin/pip pip /usr/local/bin/pip-3.2 99
        - update-alternatives --set pip /usr/local/bin/pip-3.2
