- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb "Backends" "admin_backend_list"


- block content

  .nav.nav-tabs
    %li
      %a{'href':'{% url "admin_users_list" %}'}
        - trans "Users"
    %li
      %a{'href':'{% url "admin_routers_list" %}'}
        - trans "Routers"
    %li.active
      %a{'href':'{% url "admin_backends_list" %}'}
        - trans "Backends"

  %p
    %a.btn.btn-default{'href':'{% url "admin_backend_create" %}'}
      %i.fa.fa-plus-circle
      - trans "Create new backend"

  %table.table.table-striped

    %thead
      %tr
        %th
          - trans "Name"
        %th
          - trans "IP address"
        %th
          - trans "Enabled"
        %th
          - trans "Status"

    %tbody
      - for backend_object in object_list
        %tr
          %td
            %a{'href':'{% url "admin_backend_edit" backend_object.name %}'}
              = backend_object.name
          %td
            = backend_object.ip
          %td
            - if backend_object.is_enabled
              %i.fa.fa-thumbs-o-up
          %td
            - if backend_object.is_healthy
              %i.fa.fa-thumbs-o-up.upaas-help-tooltip{'title':'{% trans "Backend is healthy" %}'}
            - else
              %i.text-danger.fa.fa-thumbs-o-down.upaas-help-tooltip{'title':'{% trans "No connection to backend workers" %}'}

  - include "partials/pagination_footer.html"
