- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb "Routers" "admin_routers_list"
  - breadcrumb "Create new router" "admin_router_create"


- block content

  %form.well{'method':'post', 'action':'{% url "admin_router_create" %}'}
    - csrf_token
    = form|crispy
    .controls
      %input.btn.btn-default{'type':'button', 'value':'{% trans "Cancel" %}', 'onClick':'javascript:history.go(-1);'}
      %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Create" %}'}/
