- extends 'base.haml'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb "Backend" "admin_backends_list"
  - breadcrumb "Create new backend" "admin_backend_create"


- block content

  %form.form-horizontal.well{'method':'post', 'action':'{% url "admin_backend_create" %}'}
    - csrf_token
    = form|crispy
    .controls
      %input.btn{'type':'button', 'value':'{% trans "Cancel" %}', 'onClick':'javascript:history.go(-1);'}
      %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Create" %}'}/
