- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb "Backends" "admin_backends_list"
  - breadcrumb object.name object.name


- block content

  %form.well{'method':'post', 'action':'{% url "admin_backend_edit" object.name %}'}
    - csrf_token
    = form|crispy
    .controls
      %button.btn.btn-default{'type':'button', 'onClick':'javascript:history.go(-1);'}
        %i.fa.fa-reply
        - trans "Cancel"
      %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Save" %}'}/
