- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb "Users" "admin_users_list"
  - breadcrumb object.full_name_or_login "admin_user_edit" object.username


- block content

  %form.well{'method':'post', 'action':'{% url "admin_user_edit" object.username %}'}
    - csrf_token
    = form|crispy
    .controls
      %input.btn.btn-default{'type':'button', 'value':'{% trans "Cancel" %}', 'onClick':'javascript:history.go(-1);'}
      %input.btn.btn-primary{'type':'submit', 'value':'{% trans "Save" %}'}/
