- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs


- block breadcrumbs
  = block.super
  - breadcrumb "Routers" "admin_routers_list"


- block content

  .nav.nav-tabs
    %li
      %a{'href':'{% url "admin_users_list" %}'}
        - trans "Users"
    %li.active
      %a{'href':'{% url "admin_routers_list" %}'}
        - trans "Routers"
    %li
      %a{'href':'{% url "admin_backends_list" %}'}
        - trans "Backends"

  %p
    %a.btn.btn-default{'href':'{% url "admin_router_create" %}'}
      %i.fa.fa-plus-circle
      - trans "Create new router"

  %table.table.table-striped

    %thead
      %tr
        %th
          - trans "Name"
        %th
          - trans "Subscription IP address"
        %th
          - trans "Subscription port"
        %th
          - trans "Enabled"

    %tbody
      - for router_object in object_list
        %tr
          %td
            %a{'href':'{% url "admin_router_edit" router_object.name %}'}
              = router_object.name
          %td
            = router_object.subscription_ip
          %td
            = router_object.subscription_port
          %td
            - if router_object.is_enabled
              %i.fa.fa-thumbs-o-up

  - include "partials/pagination_footer.html"
